<div class="container mt-5">
  <h2>Formulario de contacto</h2>
  <div class="my-4">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre y apellido" [(ngModel)]="nombre"/>
      <div id="nombreHelp" class="form-text" *ngIf="nombre == ''">Introduzca su nombre y apellido.</div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="ejemplo@dominio.com" [(ngModel)]="email"/>
      <div id="emailHelp" class="form-text" *ngIf="email == ''">Introduzca un email válido.</div>
    </div>
    <div class="mb-3">
      <label for="mensaje" class="form-label">Mensaje</label>
      <textarea class="form-control" id="mensaje" rows="3" [(ngModel)]="mensaje"></textarea>
      <div id="mensajeHelp" class="form-text" *ngIf="mensaje == ''">Introduzca un mensaje.</div>
    </div>
    <div class="mb-3">
      <label for="seguridad" class="form-label">2 + 3 = ?</label>
      <input type="text" class="form-control" id="seguridad" placeholder="Respuesta" [(ngModel)]="seguridad"/>
      <div id="seguridadHelp" class="form-text" *ngIf="seguridad != '5'">Validación anti-spam incorrecta.</div>
    </div>
    <div class="d-flex justify-content-between">
      <input type="button" value="Enviar" class="btn btn-primary" (click)="enviar()">
    </div>
  </div>

  <app-envio [dato]="dato" *ngIf="dato"></app-envio>
</div>